:root {
    --font-family-base: 'DM_Sans', sans-serif;


    --background-primary: #3742fa;
    --background-primary-hover: #5352ed;
    --background-secondary: #2f3542;
    --background-secondary-hover: #454e57;
    --background-danger: #ff4757;
    --background-danger-hover: #ff6b81;
    --background-warning: #ffa502;
    --background-warning-hover: #eccc68;
    --background-success: #2ed573;
    --background-success-hover: #7bed9f;
    --background-info: #1e90ff;
    --background-info-hover: #70a1ff;

}

* {
    font-family: var(--font-family-base);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}
