/*---------------------------------------------------------------------------*\
    #VARIABLES
\*---------------------------------------------------------------------------*/

:root {
    --font-family-base: 'DM_Sans', sans-serif;


    --background-primary: #3742fa;
    --background-primary-hover: #5352ed;
    --background-secondary: #2f3542;
    --background-secondary-hover: #454e57;
    --background-danger: #ff4757;
    --background-danger-hover: #ff6b81;
    --background-warning: #ffa502;
    --background-warning-hover: #eccc68;
    --background-success: #2ed573;
    --background-success-hover: #7bed9f;
    --background-info: #1e90ff;
    --background-info-hover: #70a1ff;
    --background-white: #ffffff;


    --color-primary: #3742fa;
    --color-secondary: #2f3542;
    --color-danger: #ff4757;
    --color-warning: #ffa502;
    --color-success: #2ed573;
    --color-info: #1e90ff;
    --color-white: #ffffff;
}

/*---------------------------------------------------------------------------*\
 #GLOBAL STYLES
\*---------------------------------------------------------------------------*/

* {
    font-family: var(--font-family-base);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------*\
 #CONTAINER
\*---------------------------------------------------------------------------*/

.container {
    width: 100%;
    margin: auto;
    padding: 15px 15px;
}

/*----------------------------------------------------------------------------*\
 #RESPONSIVE BREAKPOINTS
\*----------------------------------------------------------------------------*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {

        max-width: 1440px;
    }
}
